<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UZLottery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EDB79BA1E7632010068F544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EDB79D31E7632020068F544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EDB79DE1E7632020068F544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
